nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  padding-top: 80px;
  width: 0%;
  z-index: 2;
  background: var(--header-bg-color);
  border-left: 6px solid var(--contrast-color);
  transition-property: width;
  transition-duration: 0.4s;
}
nav.active {
  width: 100%;
}
@media only screen and (min-width: 900px) {
  nav.active {
    width: 20%;
  }
}
ul li {
  list-style-type: none;
  text-transform: uppercase;
  display: block;
  height: 3em;
  line-height: 3em;
  width: 100%;
  text-align: center;
}
